{% extends "@App/User/baseUsers.html.twig" %}

{% block content %}
    <div class="bg-black c-orange">
        <section>
                <article>
                    <h2>
                        Pourquoi la pizza?
                    </h2>
                </article>
                <article>
                    <h2>
                        Mon outil de travail
                    </h2>
                </article>
                <article>
                    <h2>
                        La qualité des produits de mes pizzas et snacks
                    </h2>
                    <p>

                    </p>
                </article>
        </section>
    </div>
{% endblock %}
