$orange: #d19569;
$black: #141414;
$blue: #4267B2;

//FONT

@font-face {
  font-family: 'Molot';
  src: url('../font/Molot/Molot.otf');
}

h1, h2, h3{
  font-family: 'Domine', serif;
}

p, a, li{
  font-family: 'Roboto', sans-serif;
}

.f-molot{
  font-family: 'Molot', sans-serif;
  font-size: 1.25em;
}

.f-molot-small{
  font-size: 1em;
}

.f-bold {
  font-weight: bold;
}

.f-s-roboto{
  font-family: Roboto, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
}

body{
  background-color: $black;
}
.bg-white {
  background-color: white;
}

.bg-black{
  background-color: $black;
}

.bg-white{
  background-color: white;
}

.header--sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar-custom .navbar-nav .nav-link {
  color: $orange;
}

.c-orange {
  color: $orange;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(209,149,105)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.ul-style {
  list-style-type: none;
}

.aside--sticky{
  position: fixed;
  top: 102px;
}

.aside--hg{
  height: calc(100vh - 115px);
}

.cart--br{
  border: white 1px solid;
}

.carousel-w{
  width: 720px;
}

.parallax {
  /* The image used */
  background-image: url("../img/camion1.jpg");

  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.c-blue{
  color: $blue;
}

.b-orange{
  color: #141414;
  background-color: #d19569;
}

.h-ing{
  height: 80px;
}

.a-orange:link, .a-orange:visited {
  color: $orange;
  text-decoration: none;
}

.cursor{
  cursor: pointer;
}